/* Import Roboto Font - 300, 400, 500, 700, 900 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


/*  

GLOBAL SETTING

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*  

GENERAL SETTING

*/

html{
    scroll-behavior: smooth;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
}

li{
    list-style: none;
    display: inline;
    padding: 10px;
}

.container{
    padding: 56px 0
}

.row{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

}


/*

MAIN STYLING-------------------------------

*/

body{
    padding: 56px 0;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

h1{
    color: goldenrod;
}

.search-bar{
    margin: 16px 0 24px;
    width: 40%;
}


.product-containers{
    /* max-width: 300px; */
    margin: 0 auto;
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 100%;
    
}

.productElements:first-child{

    font-weight: bold;
}

.productElements:nth-child(2){

    font-style: italic;
}

.productElements:nth-child(3){

    font-weight: bold;
}


.addtocartBtn{
    padding: 8px 16px;
    color: white;
    background-color: goldenrod;
    border-radius: 4px;
    border: none;
}

.productElements {
    width: calc(100%/6);
}
